header{
  height: 8vh;
  background-color: #8D5B42;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
header>div{
  display: flex;
  flex-direction: row;
  margin: 10px    ;
}